# 작업형 1

#### 01. mtcars 데이터셋을 불러와 mpg 컬럼의 상위 10번째 값으로 상위 10개 값을 변환한 후 drat가 4 이상인 값에 대해 mpg의 평균을 구하여라.

In [50]:
import pandas as pd

In [51]:
mtcars = pd.read_csv('./data/기출복원/02회/mtcars2.csv')
mtcars

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4   18.7    8    NaN  175  3.15  3.440  17.02   0   0     3     2
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14  10.4    8    NaN  205  2.93  5.250  17.98   0   0     3     4
15  10.4    8    NaN  215  3.00  5.424  17.82   0   0     3     4
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22  15.2    8    NaN  150  3.15  3.435  17.30   0   0     3     2
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26  26.0    4    NaN   91  4.43  2.140  16.70   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28  15.8    8    NaN  264  4.22  3.170  14.50   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30  15.0    8    NaN  335  3.54  3.570  14.60   0   1     5     8
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

In [52]:
mpg = mtcars['mpg']
drat = mtcars['drat']

In [56]:
tenth = mpg.sort_values(ascending = False, ignore_index = True)[9]
tenth

21.5

In [57]:
idx = mpg.sort_values(ascending = False)[:10].index
idx

Int64Index([19, 17, 27, 18, 25, 26, 7, 2, 8, 20], dtype='int64')

In [58]:
mpg[idx] = tenth

C:\Users\idjs1\.conda\envs\big_ana\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [59]:
mpg.sort_values(ascending = False)

2     21.5
27    21.5
26    21.5
25    21.5
7     21.5
8     21.5
20    21.5
19    21.5
18    21.5
17    21.5
31    21.4
3     21.4
1     21.0
0     21.0
29    19.7
9     19.2
24    19.2
4     18.7
5     18.1
10    17.8
12    17.3
11    16.4
28    15.8
21    15.5
13    15.2
22    15.2
30    15.0
16    14.7
6     14.3
23    13.3
15    10.4
14    10.4
Name: mpg, dtype: float64

In [60]:
avg_mpg = mpg[drat >= 4].mean()
avg_mpg

20.67142857142857

In [61]:
result = round(avg_mpg, 3)
result

20.671

In [6]:
import pandas as pd

mtcars = pd.read_csv('./data/기출복원/02회/mtcars2.csv')
mtcars

mpg = mtcars['mpg'].copy()
drat = mtcars['drat'].copy()

tenth = mpg.sort_values(ascending = False, ignore_index = True)[9]
idx = mpg.sort_values(ascending = False)[:10].index

mpg[idx] = tenth

avg_mpg = mpg[drat >= 4].mean()
result = round(avg_mpg, 3)
print(result)

20.671

#### 2. 앞의 데이터셋을 새로 불러와 첫 번째 행부터 순서대로 80%까지의 데이터를 훈련 데이터로 추출한 후 disp 컬럼의 결측값을 disp 컬럼의 중앙값으로 대체하고 대체 전 후의 disp 변수의 표준편차 값의 차이를 구하여라. (단, 차이는 빼는 순서와 관계없이 절댓값을 취하여 표시하고 소수점은 넷째 자리에서 반올림할 것)

In [66]:
import pandas as pd
mtcars = pd.read_csv('data/기출복원/02회/mtcars2.csv')
mtcars

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4   18.7    8    NaN  175  3.15  3.440  17.02   0   0     3     2
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14  10.4    8    NaN  205  2.93  5.250  17.98   0   0     3     4
15  10.4    8    NaN  215  3.00  5.424  17.82   0   0     3     4
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22  15.2    8    NaN  150  3.15  3.435  17.30   0   0     3     2
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26  26.0    4    NaN   91  4.43  2.140  16.70   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28  15.8    8    NaN  264  4.22  3.170  14.50   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30  15.0    8    NaN  335  3.54  3.570  14.60   0   1     5     8
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

In [74]:
train_rate = mtcars.shape[0]*0.8
train_rate

25.6

In [75]:
train = mtcars[:int(train_rate)]
train

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4   18.7    8    NaN  175  3.15  3.440  17.02   0   0     3     2
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14  10.4    8    NaN  205  2.93  5.250  17.98   0   0     3     4
15  10.4    8    NaN  215  3.00  5.424  17.82   0   0     3     4
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22  15.2    8    NaN  150  3.15  3.435  17.30   0   0     3     2
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2

In [82]:
disp_before = train['disp'].copy()
disp_after = train['disp'].copy()

In [83]:
med = disp_before.median()
med

167.6

In [84]:
disp_after.fillna(med, inplace = True)

In [85]:
disp_after

0     160.0
1     160.0
2     108.0
3     258.0
4     167.6
5     225.0
6     360.0
7     146.7
8     140.8
9     167.6
10    167.6
11    275.8
12    275.8
13    275.8
14    167.6
15    167.6
16    440.0
17     78.7
18     75.7
19     71.1
20    120.1
21    318.0
22    167.6
23    350.0
24    400.0
Name: disp, dtype: float64

In [86]:
std_before = disp_before.std()
std_after = disp_after.std()
print(std_before, std_after)

111.2287398626298 103.2631044145649

In [88]:
round(abs(std_before - std_after), 3)

7.966

In [7]:
import pandas as pd
mtcars = pd.read_csv('data/기출복원/02회/mtcars2.csv')

train_rate = mtcars.shape[0]*0.8
train = mtcars[:int(train_rate)]

disp_before = train['disp'].copy()
disp_after = train['disp'].copy()

med = disp_before.median()

disp_after.fillna(med, inplace = True)

std_before = disp_before.std()
std_after = disp_after.std()
result = round(abs(std_before - std_after), 3)

print(result)

7.966

#### 3. gehan 데이터 셋을 불러와 time 컬럼에서 이상값의 합을 구하여라.(단, 이상값은 평균에서 1.5 표준편차 이상으로 벗어난 값으로 정의함)

In [8]:
import pandas as pd

gehan = pd.read_csv('data/기출복원/02회/gehan.csv')

time = gehan['time'].copy()

mean = time.mean()
std = time.std()

upper = mean + 1.5*std
lower = mean - 1.5*std

result = time[(time > upper) | (time < lower)].sum()
print(result)

133

---

# 작업형2

#### 1. 아래는 뇌졸중(stroke)에 대한 환자들의 임상적 변수에 관련한 데이터의 일부이다. 주어진 데이터를 이용하여 예측 모형을 만들고 아래에 따라 CSV 파일을 생성하시오. (단, 제출 전 두 개이상의 모형의 성능을 비교하여 가장 우수한 모형을 선정할 것)

In [68]:
# 라이브러리
import pandas as pd

# 데이터 불러오기
X = pd.read_csv('data/기출복원/02회/stroke_X_train.csv')
y = pd.read_csv('data/기출복원/02회/stroke_y_train.csv')
test = pd.read_csv('data/기출복원/02회/stroke_X_test.csv')

# EDA
#              2           2           5              2                4  
# 범주형  ['gender','ever_married','work_type','Residence_type','smoking_status']
# 수치형  ['age','hypertension','heart_disease','avg_glucose_level','bmi']

# (1) bmi 결측치 -> 평균대치
# (2) 이상치 탐지 -> Q1 or Q3로 대치
# (3) id 불필요 -> 제거
# (4) 범주형 -> 인코딩

# 데이터 전처리
# (1) bmi 결측치 -> 평균대치
X['bmi'] = X['bmi'].fillna(X['bmi'].mean())
test['bmi'] = test['bmi'].fillna(test['bmi'].mean())

# (3) id 불필요 -> 제거
X = X.drop('id', axis = 1)
test_id = test.pop('id')

# Feature Engineering
# (4) 범주형 -> 인코딩
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

cols = ['gender','ever_married','work_type','Residence_type','smoking_status']
for col in cols :
    X['col'] = le.fit_transform(X['col'])
    test['col'] = le.fit_transform(test['col'])
    

# 모델링 & 하이퍼파라미터 튜닝 & 앙상블
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators = 100, 
                               max_depth = 5, 
                               random_state = 2022)
model.fit(X, y['stroke'])

ModuleNotFoundError: No module named 'sklearn'