# 작업형1

#### 1. economics 데이터셋을 불러와 첫 번째 행부터 순서대로 70%까지의 데이터를 훈련 데이터로 추출한 후 pce 컬럼의 제 1사분위수를 구하라. (단, 정수로 나타낼 것)¶

In [35]:
import pandas as pd

economics = pd.read_csv('data/기출복원/03회/economics.csv')
per_70 = int(economics.shape[0]*0.7)

train = economics[:per_70]

result1 = train['pce'].quantile(q = 0.25).astype('int')
print(result1)

1075

#### 2. Hitters 데이터셋을 불러와 Years 컬럼이 10인 데이터만 추출하여 HmRun 컬럼이 평균보다 큰 선수가 몇 명인지 계산하라.

In [36]:
import pandas as pd

hitters = pd.read_csv('data/기출복원/03회/Hitters.csv')

years_10 = hitters[hitters['Years'] == 10]
mean_hr = years_10['HmRun'].mean()

hr_over_10 = years_10[years_10['HmRun'] > mean_hr]

result2 = len(hr_over_10)
print(result2)

6

#### 3. msleep 데이터셋을 불러와 가장 결측치가 많은 컬럼의 이름을 출력하라.

In [57]:
import pandas as pd

msleep = pd.read_csv('data/기출복원/03회/msleep.csv')
null_sleep = msleep.isnull().sum()

max_null = null_sleep.max()

idx = 0
for i in null_sleep :
    if i == max_null :
        break
    else :
        idx += 1

print(null_sleep.index[idx])

sleep_cycle

# 작업형2

#### 1. 아래는 HR 연구를 위한 이직 희망 여부와 입사 지원자들의 정보와 관련한 데이터의 일부이다.주어진 데이터를 이용하여 예측 모형을 만들고 아래에 따라 CSV 파일을 생성하시오.

In [75]:
### 데이터 불러오기
import pandas as pd

X_train = pd.read_csv('data/기출복원/03회/job_change_X_train.csv')
X_test = pd.read_csv('data/기출복원/03회/job_change_X_test.csv')
y_train = pd.read_csv('data/기출복원/03회/job_change_y_train.csv')

### EDA
print(X_train.head())
print(X_test.head())
    # 불필요 변수 'encollee_id'
    # 범주형 ['city','gender','relevent_experience','enrolled_university','education_level','major_discipline','experience','company_size','company_type','last_new_job']
    # 결측치 많음 'company_size','company_type'

   enrollee_id      city  city_development_index gender relevent_experience  \
0         6424   city_75                   0.939   Male                 Has
1        18304   city_64                   0.666   Male                  No
2        22515  city_103                   0.920   Male                  No
3        15878   city_16                   0.910   Male                 Has
4        22128  city_103                   0.920   Male                 Has

  enrolled_university education_level major_discipline experience  \
0                  No        Graduate             STEM         10
1                Full            High              NaN          2
2                Full            High              NaN          4
3                  No        Graduate             STEM          8
4                  No        Graduate             STEM          6

  company_size         company_type last_new_job  training_hours
0        50-99              Pvt Ltd            1             176
1          NaN                  NaN            1             110
2          NaN                  NaN        never              44
3        50-99  Early Stage Startup            1              82
4       10000+              Pvt Ltd            1              70
   enrollee_id      city  city_development_index gender relevent_experience  \
0          666  city_162                   0.767   Male                 Has
1        28806  city_160                   0.920   Male                 Has
2         5826   city_21                   0.624   Male                  No
3        19061  city_114                   0.926   Male                 Has
4        28476  city_103                   0.920   Male                 Has

  enrolled_university education_level major_discipline experience  \
0                  No         Masters             STEM        >20
1                  No            High              NaN          5
2                 NaN             NaN              NaN          2
3                  No         Masters             STEM         11
4                  No        Graduate             Arts          5

  company_size    company_type last_new_job  training_hours
0        50-99  Funded Startup            4               8
1        50-99  Funded Startup            1              24
2          NaN             NaN        never              24
3      100-500         Pvt Ltd            2              50
4          NaN             NaN            2              72